

.card{
    // border: 2px solid black;
    width: 50vw;
    min-width: 370px;
    height: 30rem;
    min-height: 20rem;
    margin-top: 20px;
    background-color: lightgray;
    box-shadow: 3px 3px 8px ;
}
