.card {
    // border: 2px solid black;
    width: 50vw;
    min-width: 370px;
    height: 30rem;
    min-height: 20rem;
    margin-top: 20px;
    background-color: lightgray;
    box-shadow: 2px 2px 5px 5px grey;
    border-radius: 10px;
}