.card {
    // border: 2px solid black;
    // width: 50%;
    // min-width: 370px;
    min-height: 20rem;
    background-color: rgb(242, 238, 238);
    box-shadow: 2px 2px 5px 3px rgb(197, 196, 196);
    border-radius: 10px;
    background-image: url("../../../public/bg.png");
    background-position: center;
    background-size: cover;

    h3{
        color: blueviolet;
    }

    form {
        .inputHolder h6{
            color: red;
            padding: 20px;
        }

        .button {
            
            button {
                background-color: lighten(blueViolet, 20%);
                border-radius: 20px;
                color: white;
                width: 150px;
                height: 40px;
                font-weight: bolder;
                box-shadow: 2px 2px 5px 5px grey;

                &:hover {
                    cursor: not-allowed;
                }

            }

            .active {
                background-color: blueviolet;
                cursor: pointer;
                box-shadow: 2px 2px 5px 5px grey;

                &:hover {
                    background-color: darken(blueviolet, 10%);
                    transform: translate(0, 2px);
                    box-shadow: 2px 2px 3px 3px grey;
                    color: yellow;
                    cursor: pointer;
                }
            }


        }
    }
}