//  .NAV{
//     margin-top:1.5rem ;
.logo {
    img {
        width: 100%;
    }
}

nav {
        .upl,.rec{
            font-weight: bolder;
            font-size: 1.8rem;
            padding: 0 0 0 5%;

            a{
                text-decoration: none;
                color: blueviolet;
            }
        }
}

//     a{
//         text-decoration: none;
//         color: blueviolet
//     }
//     
//     }
//     .uploadFile,.receiveFile{
//         padding-left: 5rem;
//         font-size: 2rem;
//         font-weight: bolder;
//     }
//  }
