*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 1.7;
    background-image: url("./assets/images/bgimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}