// style={{ backgroundColor: "lightGreen", color: "white", fontWeight: "bolder", width: "50%" }}

.alertElement{
    background-color: lightgreen;
    color: white;
    font-weight: bolder;
    width: 50%;
    position: absolute;
}